html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**/

body {
	background-image: url("../images/hand.JPG");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top right;
	background-color: #f1d442;
	background-size: 100vh;
}

.actuallbody {
	position: relative;
    margin: 0 auto;
	width: 880px;
	overflow: auto;
}

h1, h2, h3, h4, h5, h6, section span {font-family: 'Roboto Slab', sans-serif;}

p, span, a, ul, ol, li, input, nav {
	font-family: 'Roboto', serif;
	font-size: 1.1em;
	font-weight: 300;
    line-height: 1.6em;
	
}

button {
	color: #fff;
	background-color: #f1582e;
	font-size: 1.3em;
	border-radius: 5px;
	height: 50px;
	width: 75px;
}

/*
button:hover {
	position: relative;
	top: -3px; 
	left: -3px; 
	-webkit-transition: all 0.12s ease-out;
	-moz-transition:    all 0.12s ease-out;
	-ms-transition:     all 0.12s ease-out;
	-o-transition:      all 0.12s ease-out;
}*/

a:link {
	color: #f1582e;
	text-decoration: none;
}

a:visited {
	color: #f1582e;
	text-decoration: none;
}

a:hover {
	position: relative;
	border-bottom: 5px solid #f1582e;
	-webkit-transition: all 0.12s ease-out;
	-moz-transition:    all 0.12s ease-out;
	-ms-transition:     all 0.12s ease-out;
	-o-transition:      all 0.12s ease-out;
}

nav a {
	color: #000;
	padding: 10px;
	padding-bottom: 3px;
}

nav img {
	width: 70px;
	height: 30px;
	padding: 10px 30px;
}

nav a:nth-child(1):hover {border-bottom: 0px;}

footer {
	width: 100%;
	height: 350px;
	margin-top: 180px;
	padding-top: 100px;
	color: #000;
	background-color: #f1d442;
	bottom: 0;
	border-top: 1px solid;
	overflow: hidden;
}

footer p {
	text-align: center;
}

footer .tagline{
	font-size: 2em;
	padding-bottom: 40px;
}

.oneline {
	width: 880px;
	margin: 0 auto;
}

footer .followme, footer .contactme {
	width: 440px;
	margin: 0 auto;
	padding: 30px 0px;
	float: left;
}

/*--- LANDING PAGE ----*/

.banner {
	margin-top: 12%;
	/*background-color: #8ce3c9;*/
	/*background-color: #f1582e;
	/*background-color: #f1124d;*/
	/*background-color: #7028e2;*/
	overflow: hidden;
}

.landingpage .banner {margin-top: 25%;}

.banner h2 {
	color: #fff;
	font-size: 4em;
	padding-left: 10%;
	 position: relative;
	background-color: #f1582e;
  /*	-webkit-animation-name: bannerAnimation; 
  	-webkit-animation-duration: 10s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	animation-name: bannerAnimation;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;*/
}

@-webkit-keyframes bannerAnimation {
	0%   {left:-100%;}
	100% {left: 100%;}
}

@keyframes bannerAnimation {
	0%   {left:-100%;}
  	100% {left: 100%;}
}

.banner p, .banner ul {
	text-align: center;
	font-size: 1.3em;

	padding:40px 200px;
}

.banner ul {padding: 10px 250px;}

.banner button {
	width: 250px;
}

.landingpage .actuallbody, .library .actuallbody, .toolintro .actuallbody, .summary .actuallbody, .about .actuallbody, .services .actuallbody {
	color: #000;
	background-color: #f6f6f4;
	margin-top: 120px;
	margin-bottom: 20px;
	border-radius: 5px;
}

.landingpage .actuallbody p, .library .actuallbody p, .toolintro .actuallbody p, .summary .actuallbody p, .about .actuallbody p, .services .actuallbody p {padding: 3% 5%;}

.tool {
	position: relative;
	width: 245px;
	height: 177px;
	background-color: #fff;
	float: left;
	margin: 20px;
	border-radius: 5px;
	background-position: center;
	background-size: cover;
	
}

.tool:hover {
	position: relative;
	top: -3px; 
	left: -3px; 
	-webkit-transition: all 0.12s ease-out;
	-moz-transition:    all 0.12s ease-out;
	-ms-transition:     all 0.12s ease-out;
	-o-transition:      all 0.12s ease-out;
}

.tool .comingsoon {
	color: #fff;
	font-size: 0.9em;
	background-color: gray;
	border-radius: 3px;
	float: right;
	padding: 1px 5px;
	margin: 15px 20px;
}

.tool h4 {
	width: 100%;
	position: absolute;
	bottom: 0;
	font-size: 1.7em;
	text-align: center;
	color: #fff;
	padding: 10px;
	text-shadow:1px 1px #f1582e, 
				2px 2px #f1582e, 
                3px 3px #f1582e;
	-webkit-transition: all 0.12s ease-out;
	-moz-transition:    all 0.12s ease-out;
	-ms-transition:     all 0.12s ease-out;
	-o-transition:      all 0.12s ease-out;
}

.tool:nth-child(1){background-image: url(../images/hand.JPG);} 

.tool:nth-child(2){background-image: url(../images/people.JPG);} 

.tool:nth-child(3){background-image: url(../images/bananas.JPG);}

.tool:nth-child(4){background-image: url(../images/backlove.JPG);}

.tool:nth-child(5){background-image: url(../images/feedbackstair.JPG);}

.tool:nth-child(6){background-image: url(../images/ninja.JPG);}

/*--- TOOL INTRO PAGE ----*/

.toolintro .actuallbody {overflow: hidden;}

.toolintro ul {padding-left: 70px;}

.toolintro .guidesofia {
	float: right;
}




/*--- CHECKBOXES ---*/
.container {
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.container:hover input ~ .checkmark {background-color: #ccc;}

.container input:checked ~ .checkmark {background-color: #f1582e;}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {display: block;}

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


/*   TIMER AND PROGRESS   */

.overlaymenu {
	position: relative;	
	width: 100%;
	z-index: 999;
}

.timer {
	font-size: 1.3em;
	top: 0;
	background-color: #f6f6f4;
	height: 45px;
	padding: 0.5% 0%;
	text-align: center;
}

.hidetimer {
	font-size: 0.6em;
	width: 55px;
	height: 35px;
	position: absolute;
	top: 13%;
	right: 10%;
}

.progressbar {
	margin: 0 auto;
	width: 860px;
}

.progressbar span {
	display: block;
	float: left;
	background-color: #ddd;
	margin: 0 5px;
	width: 18%;
	height: 5px;
}

.progressbar span:nth-child(1){background-color: #f1582e;}

.bottom {
	position: absolute;
	width: 100%;
	height: 40vh;
	bottom: 6%;
	
}

.bottom button {
	position: fixed;
	bottom: 5%;
	margin: 20px 10px 0px 20px;
	
}

.bottom button:nth-child(1) {left: 10%;}

.bottom button:nth-child(2) {right: 10%;}


.guidesofia {
	float: right;
	width: 200px;
}

.secondtip, .thirdtip, .fourthtip, .fifthtip {
	display: none;
}

.guidesofia p {
	color: #fff;
	background-color: #f1582e;
	margin: 10px 0px;
	padding: 10px;
	position: relative;
	border-radius: .4em;
	font-size: 1em;
}

.guidesofia p:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #f1582e;
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
	margin-bottom: -20px;
}

.guidesofia img {
	height: 170px;
	width: 170px;
	border-radius: 50%;
}



/*---   TOOL page  ---*/
.firtssection {display: block;}

.actuallbody h3 {font-size: 2em;}

.actualltool .actuallbody {padding-top: 50px;}

section {display: none;}

section {
	background-color: #f6f6f4;
	margin: 5%;
	padding: 5%;

	border-radius: 5px;
	
}

section span:nth-child(1) {
	color: #fff;
	position: absolute;
	text-align: center;
	background-color: #f1582e;
    border-radius: 50%;
	font-size: 32px;
    height: 53px;
    width: 53px;
	margin: -65px;
	
}

section p {padding: 10px 0px;}

section ol{padding: 10px 0px 0px 50px;}

section ol li {padding: 10px 0px;}

section ul {
	padding: 3px 0px 0px 150px;
	font-size: 0.9em;
}

section ul li {padding: 5px 0px;}


/*---   SUMMARY page  ---*/


form {
	width: 400px;
	margin: 0 auto;
}

form input {
	height: 30px;
	border-radius: 5px;
	margin: 2px;
	padding: 7px;
}

form input:nth-child(1){
	width: 44%;
}
form input:nth-child(2){
	width: 44%;
	margin-right: 0;
}

form input:nth-child(3){width: 95%;}

form button {
	width: 100%;
}


/*---  ANPASSNING  ---*/
@media screen and (max-width: 1023px) {
	/*body {background-color: green;}*/
	
	.actuallbody,  .oneline {width: 700px;}
	
	.banner p {padding: 40px 50px;}
	
	.progressbar {width: 600px;}
	
	.progressbar span {width: 18%;}
	
	section {margin: 10%;}
	
	.bottom button:nth-child(1) {left: 2%;}
	.bottom button:nth-child(2) {right: 3%;}
	
	.tool {margin: 20px 50px;}
	
	footer .followme, footer .contactme {width: 350px; margin: 0 auto;}
}

@media only screen and (max-width: 767px) {
	/*body {background-color: red;}*/
	
	.actuallbody, .oneline {width: 530px;}
	
	.landingpage .actuallbody, .library .actuallbody, .toolintro .actuallbody, .summary .actuallbody, .about .actuallbody, .services .actuallbody {width: 470px;}
	
	.banner p {padding: 40px 20px;}
	.tool {width: 191px; height: 143px; margin: 20px;}
	
	.timer {font-size: 0.9em;}
	
	.progressbar {width: 450px;}
	
	.progressbar span {width: 17%;}
	
	section {margin: 10%;}
	
	.bottom button:nth-child(1) {left: 2%;}
	.bottom button:nth-child(2) {right: 3%;}
	
	
	footer {height: 500px;}
	footer .followme, footer .contactme {float: none;}
	
	/*.guidesofia{display: none;}*/
	
}





